@model IR_Hub.Models.Comment

<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

<h2>Editare comentariu</h2>
<br />


<form asp-action="EditComment" asp-controller="Bookmark" asp-route-id="@Model.Id" method="post">

    <div class="form-group">
        <label asp-for="Content" class="form-label">Conținut comentariu</label>
        <br />
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br /><br />

    <button class="details-button" type="submit">Editează comentariul</button>

</form>


@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

