.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
out/

*.cmake
*.ncb
*.sdf
*.opensdf
*.vcxproj.*
*.vcxproj.filters

ipch/
*.ipdb
*.tlog
*.log
*.lastbuildstate

*.publish.xml
*.pfx
*.publishsettings
*.pubxml
*.pubxml.user

project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
packages/*
!packages/repositories.config

secrets.json

.localhistory/
.azure/

*.cache
*.node_modules
*.ds_store
**/Thumbs.db
**/Desktop.ini
RECYCLER/
$RECYCLE.BIN/
*.excludefiles
*.excludeptions

TestResult*/
.trx
*.Coverage


.idea/
*.DotSettings.user
*.DotSettings


.vscode/
.vscode-test/


*.csproj.user
*.dbmdl
*.dbproj.user
*.sqlproj.user
*.vscode

msbuild.log

