/* CSS pentru design inspirat din imagine */

body {
    background-color: #f7f2ed;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 15px;
    background-color: #f6ede7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

    .card-body h3 {
        font-size: 1.8rem;
        color: #5a463a;
        margin-bottom: 10px;
    }

    .card-body small {
        display: block;
        color: #999;
        margin-bottom: 10px;
    }

.card-footer {
    border-top: 1px solid #ddd;
    background-color: #f6ede7;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 0;
}

    .card-footer span {
        font-size: 0.9rem;
        color: #555;
    }

.like-button {
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: #9e897c;
    color: #f7f2ed;
    margin:-30px 5px 20px 10px;
}
    .like-button:hover {
        font-size: 0.9rem;
        background-color: #7d6b60;
        color: #f7f2ed;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

.dislike-button {
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: #7d6b60;
    color: #f7f2ed;
}
    .dislike-button:hover {
        background-color: #5a463a;
        color: #f7f2ed;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
.edit-button {
    border-radius: 25px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    background-color: #9e897c;
    color: #f7f2ed;
    margin: 20px 0 0px 5px;
}

    .edit-button:hover {
        font-size: 0.9rem;
        background-color: #7d6b60;
        color: #f7f2ed;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
.save-button {
    width: 80px;
    text-align: center;
    border: 1px solid #f3dbcb;
    background-color: #f0e5de;
    padding: 5px;
}
#addButton {
    background-color: #f0e5de;
    width: 30px;
    color: black;
    border: 1px solid #a59185;
}
.media {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.media img {
    border-radius: 50%;
    margin-right: 10px;
}

.media-body {
    font-size: 0.9rem;
}

    .media-body h5 {
        font-size: 1rem;
        color: #5a463a;
        margin-bottom: 5px;
    }

textarea.form-control {
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #e0dbd7;
    color: #504235;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Secțiunea de comentarii */
form {
    margin-top: 20px;
}

    form .form-group label {
        font-weight: bold;
    }

.d-flex {
    gap: 10px;
}

    .d-flex .btn {
        font-size: 0.8rem;
    }

