

body {
    background-color: #f7f2ed;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    margin-top: 50px;
}

.form-select {
    padding: 5px 30px 5px 10px ;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #d9d0c8;
}

.card {
    background-color: #efe6de;
    border-radius: 20px;
}

.details-button {
    margin-top:5px;
    background-color: #95816c;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

    .details-button:hover {
        background-color: #76604a;
    }

.page-link {
    background-color: #c1b9b1;
    color: #504235;
    width: auto;
}

.form-control {
    background-color: #faf6f2;
    color: #504235;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}