
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

@model IR_Hub.Models.Comment

<h2 class="text-center mt-5">Editare Bookmark</h2>
<br />


<form asp-action="Edit" asp-controller="Comments" asp-route-id="@Model.Id" method="post">

    <div class="form-control">
        <label asp-for="Content" class="form-label">Conținut comentariu</label>
        <br />
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br /><br />

    <button class="details-button" type="submit">Editează comentariul</button>

</form>

